<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">When
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">Today</a></li>
    <li><a href="#">Tomorrow</a></li>
  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Meal
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">Breakfast</a></li>
    <li><a href="#">Lunch</a></li>
    <li><a href="#">Dinner</a></li>
  </ul>
</div>


<button
  class="btn btn-default"
  type="button">
    Search
</button>
